@model IEnumerable<NAUB.ViewModels.LendingViewModel>

@{
    ViewBag.Title = "Index";
}

<div id="content">
    <header>Active borrowers list</header>
    <article>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Borrower</th>
                    <th>Id number</th>
                    <th>Full name(s)</th>
                    <th>Book ISBN number</th>
                    <th>Borrowed date</th>
                    <th>Return date</th>
                    <th># days remaining</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @{
                foreach (var borrower in Model)
                {
                            <tr>
                                <td>@borrower.BorrowType</td>
                                <td>@borrower.Borrow.BorrowerId</td>
                                <td>@borrower.Borrow.Name</td>
                                <td>@borrower.Borrow.Isbn</td>
                                <td>@borrower.Borrow.BorrowDate.ToShortDateString()</td>
                                <td>@borrower.ExpectedReturnDate.ToShortDateString()</td>
                                @if (borrower.IsOverdue())
                                    {
                                    <td style="background: #f1c0ad; text-align: center;">Overdue</td>
                                    }
                                else
                                    {
                                        <td style="background: #aaf5b6; text-align: center;">@borrower.DaysRemaining() day(s)</td>
                                    }

                                <td><a href="#">Extend return date</a></td>
                            </tr>
                }
            }

            </tbody>
        </table>
    </article>
</div>


